<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owner">

    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 拨号权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity
            android:name=".home.HomeFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.ScheduleFragment_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".message.MessageFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".h5.WebViewActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineMessageActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineSettingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ModifyWechatActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ModifyMobileActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.SelectIdActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.owner.IDCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.CompanyActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.CreateCompanyActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".identity.JointWorkActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".identity.CreateJointWorkActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.PersonalActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".identity.IdentitySendMsgActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.CreateBuildingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.IdentityCancelActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.QRScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.ScanCompleteActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
    </application>

</manifest>