<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owner">

    <!--定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 拨号权限-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application>
        <activity
            android:name=".home.HomeFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".schedule.ScheduleFragment_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".message.MessageFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineFragment_"
            android:screenOrientation="portrait" />
        <activity
            android:name=".h5.WebViewActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineMessageActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.MineSettingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ModifyWechatActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mine.ModifyMobileActivity_"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.owner.IDCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.QRScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zxing.ScanCompleteActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.UploadVideoVrActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.EditBuildingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".home.AddEditHouseActivity_"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.EditJointWorkActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.AddEditIndependentActivity_"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.EditOpenSeatsActivity_"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".identity.OwnerIdentityActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".identity.OwnerCreateBuildingActivity_"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>